extends demo

block styles
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-backdrop/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-backdrop/master/dist/mn-backdrop.css')

block scripts
  script(src='https://rawgit.com/minimalist-components/mn-backdrop/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-backdrop/master/dist/mn-backdrop.js')
