html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  title mn-backdrop
  base(href='/')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  //- link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-backdrop/master/docs/vendor.css')
  //- link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-backdrop/master/dist/mn-backdrop.css')
  link(rel='stylesheet' href='docs/vendor.css')
  link(rel='stylesheet' href='dist/mn-backdrop.css')

body
  h2 mn-backdrop

  include github-corner

  .layout-fullscreen.layout-centered    
    div.layout-container.layout-column.layout-sm-row.align-center
      button.mn-button show backdrop

  .docs.layout-container
    mn-code.sh.
      # to install this module
      bower install --save mn-backdrop

    p Then to display backdrop, just add to body the class .backdrop-visible
    mn-code.js.
      document.body.classList.add('mn-backdrop-visible')

    p To hide, just remove the class
    mn-code.js.
      document.body.classList.remove('mn-backdrop-visible')

  //- script(src='https://rawgit.com/minimalist-components/mn-backdrop/master/docs/vendor.js')
  //- script(src='https://rawgit.com/minimalist-components/mn-backdrop/master/dist/mn-backdrop.js')
  script(src='docs/vendor.js')
  script(src='dist/mn-backdrop.js')
  script.
    var button = document.querySelector('.mn-button')
    button.addEventListener('click', showBackdrop)
    document.body.addEventListener('click', hideBackdrop)

    function showBackdrop(event) {
      document.body.classList.add('mn-backdrop-visible')
      event.target.blur()
      event.stopPropagation()
    }

    function hideBackdrop() {
      document.body.classList.remove('mn-backdrop-visible')
    }
